absl-py==2.5.0
aiofiles==23.2.1
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
aisha-ai==1.0.0
annotated-doc==0.0.5
annotated-types==0.8.0
antlr4-python3-runtime==4.9.3
anyio==4.14.2
attrs==26.1.0
audioread==3.1.0
av==18.0.0
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
click==8.4.2
coloredlogs==15.0.1
conformer==0.3.2
contourpy==1.3.3
cryptography==50.0.0
ctranslate2==4.8.1
cycler==0.12.1
decorator==5.3.1
demucs==4.1.0
diffusers==0.29.0
einops==0.8.2
einx==0.4.3
fastapi==0.115.6
fastapi-cli==0.0.4
faster-whisper==1.2.1
faster-whisper-cli==1.0.1
ffmpy==1.0.0
filelock==3.32.2
flatbuffers==25.12.19
fonttools==4.63.0
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2024.12.0
gdown==5.1.0
google-auth==2.56.3
google-auth-oauthlib==1.0.0
gradio==5.4.0
gradio_client==1.4.2
grpcio==1.83.0
grpcio-tools==1.62.3
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
hydra-core==1.3.2
HyperPyYAML==1.2.3
idna==3.18
importlib_metadata==9.0.0
inflect==7.3.1
Jinja2==3.1.6
joblib==1.5.3
julius==0.2.8
kaldifst==1.8.0
kiwisolver==1.5.0
lameenc==1.8.4
lazy-loader==0.5
librosa==0.10.2
lightning==2.2.4
lightning-utilities==0.15.3
llvmlite==0.48.0
loguru==0.7.3
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
modelscope==1.20.0
more-itertools==11.1.0
mpmath==1.3.0
msgpack==1.2.1
multidict==6.7.1
narwhals==2.24.0
networkx==3.1
numba==0.66.0
numpy==1.26.4
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.16.0
onnxruntime==1.18.0
openai-whisper==20231117
orjson==3.11.9
packaging==24.2
pandas==2.3.3
pillow==11.3.0
platformdirs==4.11.2
pooch==1.9.0
propcache==0.5.2
protobuf==4.25.0
pyarrow==18.1.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.7.0
pydantic_core==2.18.1
pydub==0.25.1
Pygments==2.20.0
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-multipart==0.0.12
pytorch-lightning==2.6.5
pytz==2026.3.post1
pyworld==0.3.5
PyYAML==6.0.3
regex==2026.7.19
requests==2.34.2
requests-oauthlib==2.0.0
rich==13.7.1
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
ruff==0.16.2
safehttpx==0.1.7
safetensors==0.8.0
scikit-learn==1.9.0
scipy==1.17.1
semantic-version==2.10.0
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
soundfile==0.12.1
soupsieve==2.9.2
soxr==1.1.0
sphn==0.2.1
starlette==0.41.3
sympy==1.14.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tiktoken==0.13.0
tokenizers==0.21.4
tomlkit==0.12.0
torch==2.3.1
torchaudio==2.3.1
torchmetrics==1.9.0
tqdm==4.70.0
transformers==4.51.3
typeguard==4.6.0
typer==0.24.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uvicorn==0.30.0
websockets==12.0
Werkzeug==3.1.8
wetext==0.0.4
wget==3.2
wheel==0.47.0
x-transformers==2.11.24
yarl==1.24.5
zipp==4.1.0
